<div>
    <div class="jumbotron">
        <h1 class="display-4">Weather Single Page Application written in Angular</h1>
        <p class="lead">Please, input text below and click button to observe the weather for your location</p>
    </div>
    <app-weather-input (onSearchEvent)="loadWeather($event)"></app-weather-input>
    <div class="weather-container" *ngIf="!isLoading">
        <div *ngFor="let item of weatherInfos">
            <app-weather-element [info]="item"></app-weather-element>
        </div>
    </div>
    <div *ngIf="isLoading">
        <p>Loading data in progress...</p>
    </div>
</div>